.footer-base{
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

.footer{
    padding: 10px;
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

.container-contacts{
    background: #2d4059;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
}

.contact{
    background: #ea5455;
    flex: 1 1 auto;
}

.social{
    background: #ea5455;
    flex: 1 1 auto;
}

.copyright{
    background: #2d4059;
    justify-content: center;
    display: flex;
}

.row{
    background: darkgoldenrod;
}
.logos{
    width: 25px;
    margin-bottom: -6px;
}

.etiquetas{
    padding-left: 10px;
}